
.stroke-text {
  -webkit-text-stroke: 5px #00ff80;
  color: transparent;
}

.games-outline, .outline-text{
   -webkit-text-stroke: 1px #ffffff;
    color: transparent;
}

@media (max-width: 1024px) {
  .stroke-text {
    -webkit-text-stroke: 3px #00ff80;
  }
  .games-outline{
    -webkit-text-stroke: 3px #ffffff;
  }
}


@media (max-width: 640px) {
  .stroke-text {
    -webkit-text-stroke: 2px #00ff80;
  }
  .games-outline{
    -webkit-text-stroke: 2px #ffffff;
  }
  
}

